
$main-text-color: #ffffff;
$secondary-text-color: #AEAEAE;

$main-bg-color: #191A1A;
$secondary-bg-color: #19292A;

$accent-color: #00747D;

$font-body: "Inter", sans-serif;
$font-title: "Unbounded", sans-serif;
$font-mono: "JetBrains Mono", monospace;
